body { 
    background-color: rgb(91, 213, 238);
    text-align: center; 
    cursor: grab; 
}

img {
     border-style: dotted;
    border-radius: thick;
    color: rgb(211, 18, 114)
}

p {
    font-family: "Lucida Console", "Courier New", monospace; 
}

ul {
    text-align: center;
    list-style-position: inside;
}

.text {
    font-style: italic;
    font-weight: bolder;
}

.hr {
    border-color:rgb(13, 35, 158);
    border-width: 1in
}