body { 
    background-color: rgb(91, 213, 238);
    text-align: center; 
    cursor: grab; 
}

.image-border {
    border-style: dotted;
    border-radius: 50%;
    color: rgb(216, 42, 141)
}

p {
    font-family: "Lucida Console", "Courier New", monospace; 
}

.list-align {
    text-align: center;
    list-style-position: inside;
}

.text {
    font-style: italic;
    font-weight: bolder;
}

.hr {
    border-color:rgb(13, 34, 158);
    border-width: .2in
}

.bubble {
     border-style: groove;
     background-color: rgb(13, 34, 158);
     border-radius: 20px;
     border-color: ghostwhite;
     padding: 25px;
     margin: 10px 350px
}

.red-text {
      color: red;
}